# منع الوصول إلى المجلدات غير العامة
RewriteRule ^(src|vendor|config|logs|start)/ - [F,L]

# منع الوصول إلى الملفات الحساسة
<Files .env>
    Order allow,deny
    Deny from all
</Files>

<Files composer.json>
    Order allow,deny
    Deny from all
</Files>

<Files composer.lock>
    Order allow,deny
    Deny from all
</Files>

# منع الوصول إلى ملفات إضافية غير مرغوب فيها
<Files env.php>
    Order allow,deny
    Deny from all
</Files>
<Files config.php>
    Order allow,deny
    Deny from all
</Files>
php_flag display_errors On

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]



